body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

nav {
  background: #222;
  padding: 15px;
}

a {
  color: white;
  margin: 15px;
  text-decoration: none;
}

a.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}

div {
  padding: 20px;
}